<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>我的主页</title>
    <div th:include="default/inc/include :: include"></div>
</head>
<body>
<div th:include="default/inc/header :: header"></div>
<!--
<div th:include="default/layout/columns_left_sidebar :: columns_left_sidebar"></div>
-->

<div class="wrap" id="wrap">
    <div class="container">
        <div class="row">
            <div class="main clearfix">
                <!-- left -->
                <div class="col-xs-12 col-md-3 side-left">
                    <div th:include="default/home/right :: right"></div>
                </div>

                <div class="col-xs-12 col-md-9 side-right">
                    <div th:include="default/showBlog :: showBlog"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="default/inc/footer :: footer"></div>
</body>
</html>

<script type="text/javascript">
    $(function () {
        $('a[nav]').each(function () {
            $this = $(this);
            if ($this[0].href == String(window.location)) {
                $this.closest('li').addClass("active");
            }
        });
    });
</script>