<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
    
       <!-- Hibernate连接数据库的基本信息 -->
		<property name="connection.username">root</property>
		<property name="connection.password">6128109</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/db_mblog?useSSL=false</property>


		<!-- Hibernate基本配置 -->
		<!-- 数据库方言 -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- 运行时是否打印SQL -->
		<property name="show_sql">true</property>
		<!-- 运行时是否打印SQL -->
		<property name="format_sql">true</property>
		<!-- 生成数据表的策略 -->
		<property name="hbm2ddl.auto">update</property>

	<!--	&lt;!&ndash; 配置C3P0数据源 &ndash;&gt;
		<property name="c3p0.max_size">10</property>
		<property name="c3p0.min_size">5</property>
		<property name="c3p0.acquire_increment">2</property>

		<property name="c3p0.idle_test_period">2000</property>
		<property name="c3p0.timeout">2000</property>

		<property name="c3p0.max_statements">10</property>
-->
		<!-- 设定关联JDBC的Statement读取数据的时候每次从数据数据库中读取的记录条数 -->
		<property name="hibernate.jdbc.fetch_size">100</property>

		<!-- 设定对数据库进行批量删除 ， 批量更新和批量插入的时候的批次大小 -->
		<property name="jdbc.batch_size">30</property>

		<property name="hibernate.current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext</property>

	<!--	<property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property>
        <property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>-->
        <!--<property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>-->

        <!-- org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory-->
		<mapping class="mblog.core.persist.entity.AuthMenuPO"/>
		<mapping class="mblog.core.persist.entity.CommentPO"/>
		<mapping class="mblog.core.persist.entity.NotifyPO"/>
		<mapping class="mblog.core.persist.entity.PostAttribute"/>
		<mapping class="mblog.core.persist.entity.RolePO"/>
		<mapping class="mblog.core.persist.entity.UserPO"/>

		
	</session-factory>
</hibernate-configuration>
