<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="columns_signin">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <link rel="stylesheet" th:href="@{/assets/vendors/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/login.css}" />
    <link rel="stylesheet" th:href="@{/assets/vendors/animate/animate.min.css}" />


    <script type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/jquery-migrate-1.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/vendors/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/vendors/validate/jquery-validate.js}"></script>


    <link rel="apple-touch-icon-precomposed" href="http://mtons.com/assets/images/logo/m99.png"/>
    <link rel="shortcut icon" href="http://mtons.com/assets/images/logo/m.png"/>
</head>
<body class="sign">

</body>
</html>